
p#gruby_bobrowski
	{
	color:#925cca;
	font-size:34px;
	}
	
p#pochylona_bobrowski
	{
	color:#f6c066;
	font-size:39pt;
	}
	
p#index_gorny_bobrowski
		{
		color:#a68e16;
		font-size:1,4cm;
		}
		
p#index_dolny_bobrowski
		{
		color:hsl(173, 87%, 60%);
		font-size:2,3cm;
		}
		
p#mono_bobrowski
		{
		color:#26de66;
		font-size:44px;
		}
		
p#powiekszenie_bobrowski
		{
		color:#603e98;
		}		
		
p#pomniejszenie_bobrowski
		{
		color:hsl(46, 58%, 49%);
		}	

		